<!DOCTYPE HTML>
<html>

<head>
    <title>Staff Page</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <link rel="stylesheet" href="../static/css/staff.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="/"><span class="logo_colour">STAFF</span></a></h1>
                    <h2>Pusat Perkembangan Minda Darul Ridzuan</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li><a href="/staff">Profile</a></li>
                    <li><a href="/staff2">Leave Application</a></li>
                    <li><a href="/staff3">Leave Status</a></li>
                    <li class="selected"><a href="/staff4">Staff Q&A</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="content_header"></div>
        <div id="site_content">

            <div id="content">


                <p><strong>Staff Q&A</strong></p>

                <table width='900' border='2'>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Status</th>
                    </tr>

                    {{with .StaffQnA}} {{range .}}

                    <tr>
                        <th>{{.Index}}</th>
                        <th>{{.ByFullName}}</th>
                        <th>{{.ByEmail}}</th>
                        <th>{{.Question}}</th>
                        <th>{{.Answer}}</th>

                        <th>Sent</th>


                    </tr>

                    {{end}} {{end}}

                    <tr>
                        <form action="/staff4/updateLeave" method="POST">
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th><textarea name="Question"></textarea></th>
                            <th>-</th>

                            <th><button type="submit">Send</button></th>

                        </form>
                    </tr>



                </table>

                <br/><br/><br/>
            </div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            <p>Hazim & Imran
        </div>
    </div>
</body>

</html>